name: admin_panel
description: "A new Flutter project."

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  shared_preferences: ^2.5.3
  connectivity_plus: ^7.0.0
  dio: ^5.9.0
  meta: ^1.16.0
  flutter_bloc: ^9.1.1
  loader_overlay: ^5.0.0
  mask_text_input_formatter: ^2.9.0
  json_annotation: ^4.9.0
  build_runner: ^2.10.4
  json_serializable: ^6.11.3
  toastification: ^3.0.3
  fl_chart: ^1.1.1
  flutter_svg: ^2.2.3
  intl: ^0.19.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:

  uses-material-design: true

  assets:
    - assets/images/
    - assets/icons/